@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*==== CSS variáveis ====*/
:root{
    /*==== Cores ====*/
    /* Azul: hsl(207, 90%, 61%);
    Roxo: hsl(250, 66%, 75%);
    Rosa: hsl(356, 66%, 75%);
    Petroleo: hsl(174, 63%, 62%); */

    --hue: 207;
    --sat: 90%;
    --lig: 61%;

    --first-color: hsl(var(--hue), var(--sat), var(--lig));
    --first-color-alt: hsl(var(--hue), var(--sat), 57%);
    --title-color: hsl(var(--hue), 12% ,15%);
    --text-color: hsl(var(--hue), 12%, 45%);
    --text-color-light: hsl(var(--hue), 8%, 75%);
    --text-color-lighten: hsl(var(--hue), 8%, 92%);
    --body-color: hsl(var(--hue), 100%, 99%);
    --container-color: #fff;


    /*==== Font e typografia ====*/
    --body-font: 'Poppins', sans-serif;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

}

/* Responsive */
@media screen and (min-widght: 968px){
    :root{
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
    }
}

/* Base */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,h2,h3{
    color: var(--title-color);
    font-weight: 600;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

/* Tema */

/* Variáveis tema escuro */

/* CSS classes reusáveis */
.contaier{
    max-width: 968px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

/* Perfis */
.profile{
    position: relative;
    padding-top: 1.5rem;
}

.profile__container{
    row-gap: 2rem;
}

.profile__data{
    display: grid;
    text-align: center;
}

.profile__perfil{
    width: 100px;
    height: 100px;
    background: linear-gradient(180deg, hsla(var(--hue), var(--sat), var(--lig), 1) 0%, 
                                        hsla(var(--hue), var(--sat), var(--lig), .2) 100%);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-items: center;
}

.profile__perfil img{
    width: 75px;
}
/* Botões */

/* Filtro tabs */

/* Projetos */

/* Habilidades */